In [1]:
library(tidyverse)
library(repr)
library(tidymodels)

Warning message:
“package ‘ggplot2’ was built under R version 4.3.2”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [18]:
stroke_data <- read_csv("stroke_data.csv")

head(stroke_data)

Rows: 5110 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): gender, ever_married, work_type, Residence_type, bmi, smoking_status
dbl (6): id, age, hypertension, heart_disease, avg_glucose_level, stroke

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  id    gender age hypertension heart_disease ever_married work_type
1  9046 Male   67  0            1             Yes          Private
2 51676 Female 61  0            0             Yes          Self-employed
3 31112 Male   80  0            1             Yes          Private
4 60182 Female 49  0            0             Yes          Private
5  1665 Female 79  1            0             Yes          Self-employed
6 56669 Male   81  0            0             Yes          Private
  Residence_type avg_glucose_level bmi  smoking_status  stroke
1 Urban          228.69            36.6 formerly smoked 1
2 Rural          202.21            N/A  never smoked    1
3 Rural          105.92            32.5 never smoked    1
4 Urban          171.23            34.4 smokes          1
5 Rural          174.12            24   never smoked    1
6 Urban          186.21            29   formerly smoked 1

In [19]:
stroke_data_clean <- stroke_data|>
    mutate(bmi = as.numeric(bmi))|>
    filter(!is.na(bmi))|>
    mutate(stroke = factor(stroke, levels = c(0, 1), labels = c("No Stroke", "Stroke")))|>
    select(avg_glucose_level,bmi, stroke)

head(stroke_data_clean)

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `bmi = as.numeric(bmi)`.
Caused by warning:
! NAs introduced by coercion”

  avg_glucose_level bmi  stroke
1 228.69            36.6 Stroke
2 105.92            32.5 Stroke
3 171.23            34.4 Stroke
4 174.12            24.0 Stroke
5 186.21            29.0 Stroke
6  70.09            27.4 Stroke